{% extends "base.html" %}
{% block title %}detailed information{% endblock %}
{% block headmessage %} <h1>分類</h1> {% endblock %}


{% block content %}
<a href="/">come bake to index</a><br>
<div class="container">
<table class='table table-striped table-bordered'>
  <tr>
		
		<td><a href="/paper/">紙類</a></td>

		<td><a href="/metal/">金屬類</a></td>
		<td><a href="/plastic/">塑膠橡膠</a></td>
		<td><a href="/glass/">玻璃</a></td>
		<td><a href="/textile/">紡織品</a></td>
		<td><a href="/ea/">家用電品</a></td>
		<td><a href="/battery/">電池</a></td>
		<td><a href="/cs/">通訊物品</a></td>
		<td><a href="/drug/">特殊用藥廢容器</a></td>
		<td><a href="/oil/">食用油</a></td>
		<td><a href="/other/">其他</a></td>
	</tr>
</table>

</div>

{% endblock %}

